@font-face {
  font-family: 'Julius Sans One';
  src: url('JuliusSansOne-Regular.woff2') format('woff2'),
    url('JuliusSansOne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-LightItalic.woff2') format('woff2'),
    url('Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-BoldItalic.woff2') format('woff2'),
    url('Roboto-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Medium.woff2') format('woff2'),
    url('Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Black.woff2') format('woff2'),
    url('Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Italic.woff2') format('woff2'),
    url('Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Light.woff2') format('woff2'),
    url('Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Bold.woff2') format('woff2'),
    url('Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-BlackItalic.woff2') format('woff2'),
    url('Roboto-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Thin.woff2') format('woff2'),
    url('Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-MediumItalic.woff2') format('woff2'),
    url('Roboto-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-ThinItalic.woff2') format('woff2'),
    url('Roboto-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Regular.woff2') format('woff2'),
    url('Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-BlackItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-ExtraBold.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Black.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-ExtraBoldItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-SemiBold.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Medium.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-MediumItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display';
  color: #2b2b2b;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1356px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}
.header-social-media i[class^='fa-']:hover {
  transform: scale(1.5);
}

.header-social-media i.fa-youtube:hover {
  color: red;
}

.header-social-media i.fa-twitter:hover {
  color: #1da1f2;
}

.header-social-media i.fa-facebook:hover {
  color: #4267b2;
}

.header-site-controls li a i:hover {
  color: black;
  transform: scale(1.5);
}

.header-social-media i.fa-instagram:hover {
  background-image: radial-gradient(
      circle farthest-corner at 32% 106%,
      rgb(255, 225, 125) 0%,
      rgb(255, 205, 105) 10%,
      rgb(250, 145, 55) 28%,
      rgb(235, 65, 65) 42%,
      transparent 82%
    ),
    linear-gradient(135deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
  border-radius: 10%;
}
/* .header  */

.header {
  background: #1b1927 url('../images/banner.png') center center / cover
    no-repeat;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header .header-top {
  justify-content: space-between;
  padding: 30px 150px 0;
}

.header .header-top .d-flex {
  align-items: center;
}

.header-social-media i[class^='fa-'],
.header-social-media a {
  color: #ffffff;
}

.header-social-media ul li,
.header-site-controls ul li {
  margin: 0 15px;
}

.header-social-media ul li:first-child {
  margin-left: 0;
}

.header-social-media ul li:last-child {
  margin-left: 20px;
}
.header-social-media ul li:first-child {
  margin-left: 0;
}

.header-site-controls ul li:first-child {
  border: 1px solid #cccccc;
}

.header-site-controls ul li:last-child {
  margin-right: 0;
}

.header-site-controls form {
  margin: 5px;
}

.header-site-controls form > * {
  border: none;
  background-color: inherit;
}

.header-site-controls form input[type='text']:focus-visible {
  outline: none;
}

.wrap-header-bottom {
  background-color: #2b2b2b;
  color: #e8e8e8;
  text-transform: uppercase;
  height: 50px;
  align-items: center;
}
.wrap-btn {
  border: 1px solid;
  padding: 10px;
}

.wrap-header-bottom .header-bottom ul {
  justify-content: space-between;
}

/* FOOTER */

.wrap-footer {
  margin-top: 140px;
  padding: 40px 0 68px;
  background-color: #e8e8e8;
}

.wrap-footer .footer {
  justify-content: space-between;
}

.wrap-footer .footer ul li {
  font-size: 22px;
  line-height: 37px;
}

.wrap-footer .footer-social-media ul {
  margin-top: 25px;
  width: 88px;
  justify-content: space-between;
}

.wrap-footer .footer-newsletter input {
  display: block;
}
.footer-social-media ul a {
  font-size: 16px;
}

/* content */

.content .home-catalog-preview [class*='title'],
.home-catalog-preview .product-tile-pricing {
  text-align: center;
  font-weight: bold;
}

.content .section-title h1 {
  margin: 20px auto 23px;
  padding-top: 7px;
  line-height: 47px;
  font-size: 35px;
  border-top: 1px solid #cccccc;
}

.product-tiles,
.product-catalog-preview {
  justify-content: space-between;
}

.product-tile {
  position: relative;
  width: 23.6725%;
}

.home-catalog-preview {
  margin-bottom: 100px;
}

.home-catalog-preview .product-tile-title {
  font-size: 22px;
  margin: 21px auto 20px;
  text-transform: uppercase;
}
.home-catalog-preview .product-tile-pricing {
  font-size: 22px;
}

.product-tile .favorite {
  position: absolute;
  top: 15px;
  right: 15px;
}

.home-catalog-preview .footer-view-all {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.home-catalog-preview .footer-view-all a {
  font-size: 22px;
  font-family: 'Roboto';
}

/* product-catalog-preview */

.product-catalog-preview {
  margin-bottom: 100px;
}

.product-catalog-preview .product-recommandation-image {
  width: 49.11%;
}

.product-catalog-preview .product-recommandation-details {
  width: 41%;
}

.product-catalog-preview .product-recommandation-details h1 {
  font-size: 44px;
  font-weight: bold;
}

.product-catalog-preview .product-recommandation-details p {
  font-family: 'Roboto';
  font-size: 22px;
  line-height: 43px;
  letter-spacing: 0.33px;
}

.product-catalog-preview .product-recommandation-details p:first-of-type {
  margin: 40px auto 60px;
}
